/* Resetear estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Propiedades de body */
body {
    font-family: sans-serif;
    background-color: #837c53;
    color: #fff;
    text-align: center;
}

/* Propiedades de header */
header {
    padding: 10px;
    background-color: #835381;
    border-bottom: 2px solid #000;
    margin-bottom: 12px;
}

/* Propiedades del contenedor */
.contenedor {
    max-width: 700px;
    margin: 0 auto;
}

/* Propiedad de section */
section {
    margin-bottom: 50px;
}

/* Propiedades de h2 */
h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

/* Propiedades de las filas */
.fila {
    display: flex;
    justify-content: center;
}

/* Propiedades de la clase ejercicio */
.ejercicio {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin: 20px 0 10px 0;
}

/* Propiedades para hacer desaparecer elementos */
.desaparece {
    display: none;
}

/* Propiedades del fondo de los resultados */
.resultadoFondo {
    background-color: #7c7c82;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 20px;
    margin-top: 3px;
    line-height: 22px;;
}

.ejercicio button {
    padding: 6px;
    border-radius: 15px;
    background-color: #007f06;
    color: #fff;
    cursor: pointer;
    transition: 0.2s background-color;
}

.ejercicio button:hover {
    background-color: #7f0000;
    transition: 0.2s background-color;
}